html {
    overflow-y: scroll;
}

body {
    background: no-repeat center center fixed;

    -webkit-background-size: cover;
       -moz-background-size: cover;
         -o-background-size: cover;
            background-size: cover;
    font-size: 12px;
}

h1 {
    font-size: 26px;
    line-height: 32px;
    border-bottom: 1px solid grey;
    margin-bottom: 5px;
}

.well {
    background-color: rgba(245, 245, 245, 0.8);
}

.item-history-list li {
    background-color: rgba(238, 238, 238, 0.6);
}

.table-striped tbody tr:nth-child(even) td,
.table-striped tbody tr:nth-child(even) th {
    background-color: rgba(249, 249, 249, 0.6);
}
.table-striped tbody tr:hover:nth-child(even) td,
.table-striped tbody tr:hover:nth-child(even) th {
    background-color: #f5f5f5;
}

.sidebar h3,
.graph_container h4 {
    border-bottom: 1px solid grey;
}

#chart_wrapper {
    position: relative;
}

.main-content {
    position: relative;
}

#chart_wrapper #legend {
    position: absolute;
    top: 8px;
    left: 50%;
    margin-left: -100px;
    min-width: 200px;
    text-align: center;

    background-color: rgba(249, 249, 249, 0.6);
    padding: 3px 10px;
    -webkit-border-radius: 5px;
       -moz-border-radius: 5px;
            border-radius: 5px;

    cursor: pointer;
}

#chart_wrapper #legend .btn {
    margin-top: 5px;
}

#chart_wrapper #legend.alt {
    top: auto;
    bottom: 20px;
}

.item {
    clear: both;
}

.item .image,
.recipe .image {
    float: left;
}

.item .stats {
    float: left;
    margin-left: 5px;
}

.item .stats .name,
.recipe .stats .name,
.item .info .name,
.recipe .info .name {
    font-weight: bold;
}

.rarity-common,
.rarity-common a {
    color: #4C4C4C !important;
}
.rarity-masterwork,
.rarity-masterwork a {
    color: #2DC50E !important;
}
.rarity-fine,
.rarity-fine a {
    color: #4F9DFE !important;
}
.rarity-exotic,
.rarity-exotic a {
    color: #CC6600 !important;
}
.rarity-rare,
.rarity-rare a {
    color: #FDA500 !important;
}
.rarity-legendary,
.rarity-legendary a {
    color: #DD2222 !important;
}

.item-list-table .image {
    margin-right: 10px;
}

.item-list-table th a i[class^="icon-"] {
    position: relative;
    top: 2px;
}

.item-list-table tr, .item-list-table td {
    height: 32px;
    line-height: 32px;
}

.item-list-table .info {
    min-width: 200px;
    width: 35%;
}
.item-list-table .min_sale_unit_price,
.item-list-table .max_offer_unit_price,
.item-list-table .margin,
.item-list-table .cost,
.item-list-table .sell_price,
.item-list-table .profit, {
    min-width: 115px;
    width: 10%;
    text-align: center;
}

.item-list-table .margin {
    min-width: 90px;
}

.item-list-table .restriction_level {
    min-width: 40px;
    width: 5%;
    text-align: center;
}

.item-list-table .rarity,
.item-list-table .rating {
    min-width: 75px;
    width: 10%;
    text-align: center;
}

.item-list-table .type {
    min-width: 120px;
    width: 10%;
    text-align: center;
}


/*
 * some responsive hiding of columns for smaller screens
 *  because all the columns have a min-width ;-)
 */
@media (max-width: 1300px) {
    .sidebar .form-horizontal .control-label {
        width: 100px;
    }
    .sidebar .form-horizontal .controls {
        margin-left: 120px;
    }

    .item-list-table .type {
        display: none;
    }
}

@media (max-width: 1100px) {
    .item-list-table .margin {
        display: none;
    }
}

.navbar .nav > li > a {
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: bold;
}

/* ----------------
 * [START] some magic for sticky footer
   ---------------- */
 html, body { height: 100% }
.container-fluid {
    min-height: 100%;
    position: relative;
}

.footer-spacer {
    height: 40px;
}

.navbar {
    margin-left: -20px;
    margin-right: -20px;
}

.footer-row {
    height: 40px;
    position: absolute;
    bottom: 0px;
    margin: 0 -20px;
}

.footer-row.navbar .navbar-inner {
    position: relative; 
    text-align: center;
}

.footer-row.navbar .navbar-inner > div {
    display: inline-block;
    padding: 9px 10px 11px;
    line-height: 19px;
    color: #999999;
    text-decoration: none;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}
.footer-row.navbar .navbar-inner > div > span {
    padding: 9px 10px 11px;
    line-height: 19px;
    color: #999999;
    text-decoration: none;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}

.gw2db-icon {
    display: inline-block;
    position: absolute;
    top: 0px;
    left: -40px;
    width: 82px;
    height: 40px;
}

.twitter-icon {
    display: inline-block;
    margin-left: 10px;
    background-image: url('../img/twitter-icon-gray.png');
    height: 30px;
    width: 36px;
    text-indent: -1999px;
    overflow: hidden;
    position: absolute;
    top: 6px;
    left: 40px;
}

.twitter-icon:hover {
    background-image: url('../img/twitter-icon.png');
}
/* ----------------
 * [END] some magic for sticky footer
   ---------------- */

/* ----------------
 * [START] some CSS for 2nd level dropdown
   ---------------- */
.dropdown-menu .sub-menu {
    left: 100%;
    position: absolute;
    top: 0;
    visibility: hidden;
    margin-top: -1px;

}

.dropdown-menu li:hover .sub-menu {
    visibility: visible;
    display: block;
}

.navbar .sub-menu:before {
    border-bottom: 7px solid transparent;
    border-left: none;
    border-right: 7px solid rgba(0, 0, 0, 0.2);
    border-top: 7px solid transparent;
    left: -7px;
    top: 10px;
}
.navbar .sub-menu:after {
    border-top: 6px solid transparent;
    border-left: none;
    border-right: 6px solid #fff;
    border-bottom: 6px solid transparent;
    left: 10px;
    top: 11px;
    left: -6px;
}
/* ----------------
 * [END] some CSS for 2nd level dropdown
   ---------------- */

@media (max-width: 850px) {
    .sidebar {
        display: none !important;
    }

    .main-content {
        width: 100% !important;
    }
}

/* ----------------
 * [START] tweet plugin style
   ---------------- */
.tweet_list {
    list-style: none;
    margin: 0;
    padding: 0;
    overflow-y: hidden;
}

.tweet_list li {
    overflow-y: auto;
    overflow-x: hidden;
    padding: 0.5em;
    list-style-type: none;

    border-bottom: 1px solid grey;
}

.tweet_list li a {
    color: #0C717A;
}

.tweet_list .tweet_join {
    display: none;
}

.tweet_list .tweet_text {
    margin-left: 5px;
}

.tweet_list .tweet_even {
    background: rgba(206, 206, 206, 0.3);
}

.tweet_list .tweet_avatar {
    padding-right: .5em; float: left;
}

.tweet_list .tweet_avatar img {
    vertical-align: middle;
}
/* ----------------
 * [END] tweet plugin style
   ---------------- */

.sidebar .db-description {
    width: 260px !important;
    min-height: 56px;
}

.sidebar .item-history-list li {
    margin-bottom: 5px;
}

.db-tooltip .db-summary .db-value {
    display: none;
}
.gw2money-fragment {
	white-space: nowrap;
}
.gw2money-negative {
	color: #DD2222;
}
.gw2money-copper,
.gw2money-silver,
.gw2money-gold {
    display: inline-block;
    width: 15px;
    height: 15px;
    vertical-align: middle;
    background: transparent no-repeat;
    text-indent: -1999px;
    overflow: hidden;
}
.gw2money-copper {
    background-image: url('../img/copper.png');
}
.gw2money-silver { 
    background-image: url('../img/silver.png'); 
}
.gw2money-gold {
    background-image: url('../img/gold.png');  
}

.watchlist a,
.watchlist a:hover {
    text-decoration: none;
    color: inherit;
}

.social_login .btn i {
    width: 23px; 
    font-size: 27px; 
    height: 20px;
    position: relative;
    top: 3px;
}
.social_login .btn span {
    margin-left: 10px;
    width: 80px;
    display: inline-block;
}
