html, body { height: 100% }
body {
    overflow-y: scroll;
}

.container-fluid {
    min-height: 100%;
    position: relative;
}

.footer-spacer {
    height: 40px;
}

.navbar {
    margin-left: -20px;
    margin-right: -20px;
}

.footer-row {
    height: 40px;
    position: absolute;
    bottom: 0px;
    margin: 0 -20px;
}

.footer-row.navbar .navbar-inner span {
    display: block;
    padding: 9px 10px 11px;
    line-height: 19px;
    color: #999999;
    text-decoration: none;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}

.item {
    clear: both;
}

.item .image {
    float: left;
}

.item .stats {
    float: left;
    margin-left: 5px;
}

.item .stats .name {
    font-weight: bold;
}

.item .stats .rarity.common {
    color: gray;
}

.navbar .nav > li > a {
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: bold;
}