html {
    overflow-y: scroll;
}

body {
    background: no-repeat center center fixed;
    
    -webkit-background-size: cover;
       -moz-background-size: cover;
         -o-background-size: cover;
            background-size: cover;
}

.well {
    background-color: rgba(245, 245, 245, 0.8);
}

.item-history-list li {
    background-color: rgba(238, 238, 238, 0.6);
}

.table-striped tbody tr:nth-child(even) td,
.table-striped tbody tr:nth-child(even) th {
    background-color: rgba(249, 249, 249, 0.6);
}
.table-striped tbody tr:hover:nth-child(even) td,
.table-striped tbody tr:hover:nth-child(even) th {
    background-color: #f5f5f5;
}

.sidebar h3 {
    border-bottom: 1px solid grey;
}
 
.item {
    clear: both;
}

.item .image {
    float: left;
}

.item .stats {
    float: left;
    margin-left: 5px;
}

.item .stats .name {
    font-weight: bold;
}

.rarity-common {
    color: #4C4C4C !important;
}
.rarity-masterwork {
    color: #2DC50E !important;
}
.rarity-fine {
    color: #4F9DFE !important;
}
.rarity-exotic {
    color: #FDA500 !important;
}
.rarity-rare {
    color: #CC6600 !important;
}
.rarity-legendary {
    color: #DD2222 !important;
}

.item-list-table .image {
    margin-right: 10px;
}

.item-list-table tr, .item-list-table td {
    height: 32px;
    line-height: 32px;
}

.item-list-table .restriction-level {
    min-width: 50px;
    width: 5%;
    text-align: center;
}

.item-list-table .rarity {
    min-width: 75px;
    width: 10%;
    text-align: center;
}

.item-list-table .type {
    min-width: 140px;
    width: 20%;
    text-align: center;
}

.navbar .nav > li > a {
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: bold;
}

/* ----------------
 * [START] some magic for sticky footer
   ---------------- */ 
 html, body { height: 100% }
.container-fluid {
    min-height: 100%;
    position: relative;
}

.footer-spacer {
    height: 40px;
}

.navbar {
    margin-left: -20px;
    margin-right: -20px;
}

.footer-row {
    height: 40px;
    position: absolute;
    bottom: 0px;
    margin: 0 -20px;
}

.footer-row.navbar .navbar-inner > div {
    float: left;
    display: block;
    padding: 9px 10px 11px;
    line-height: 19px;
    color: #999999;
    text-decoration: none;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}
.footer-row.navbar .navbar-inner > div > span {
    padding: 9px 10px 11px;
    line-height: 19px;
    color: #999999;
    text-decoration: none;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}
/* ----------------
 * [END] some magic for sticky footer
   ---------------- */ 
 
/* ----------------
 * [START] some CSS for 2nd level dropdown
   ---------------- */ 
.dropdown-menu .sub-menu {
    left: 100%;
    position: absolute;
    top: 0;
    visibility: hidden;
    margin-top: -1px;

}

.dropdown-menu li:hover .sub-menu {
    visibility: visible;
    display: block;
}

.navbar .sub-menu:before {
    border-bottom: 7px solid transparent;
    border-left: none;
    border-right: 7px solid rgba(0, 0, 0, 0.2);
    border-top: 7px solid transparent;
    left: -7px;
    top: 10px;
}
.navbar .sub-menu:after {
    border-top: 6px solid transparent;
    border-left: none;
    border-right: 6px solid #fff;
    border-bottom: 6px solid transparent;
    left: 10px;
    top: 11px;
    left: -6px;
}
/* ----------------
 * [END] some CSS for 2nd level dropdown
   ---------------- */ 

@media (max-width: 767px) {
    .sidebar {
        display: none !important;
    }
    
    .main-content {
        width: 100% !important;
    }
}