{% extends "content_wide.html.twig" %}

{% block content %}
<h1>Admin <small> - Password Reset</small></h1>

{% if (flash == 'ok') %}
<div class="alert alert-success">
    Password reset successfully!
</div>
{% elseif (flash == 'no_user') %}
    <div class="alert alert-info">
        Can't find user!
    </div>
{% elseif (flash) %}
    <div class="alert alert-info">
        {{ flash }}
    </div>
{% endif %}

<p>
    <form class="form-horizontal" action="{{ path('admin_password_post') }}" method="POST">
        <div class="control-group">
            <label class="control-label" for="inputUserId">UserID</label>
            <div class="controls">
                <input type="text" id="inputUserId" name="user_id" placeholder="UserID">
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="inputUsername">Username</label>
            <div class="controls">
                <input type="text" id="inputUsername" name="username" placeholder="Username">
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="inputEmail">Email</label>
            <div class="controls">
                <input type="text" id="inputEmail" name="email" placeholder="Email">
            </div>
        </div>
        <div class="control-group">
            <div class="controls">
                <button type="submit" class="btn btn-primary">Reset</button>
            </div>
        </div>
    </form>
</p>
{% endblock %}
