{% extends "content_wide.html.twig" %}

{% block content %}
<h1>Admin <small> - Session Manager</small></h1>

<div class="alert-info">
    This form is not used anymore since we now completely use API calls without authentication :)
</div>
{% endblock %}