{% set url = url is defined ? url : path('chart', {dataId: item.dataId}) %}
{% set title = title is defined ? title : '' %}
{% set title = title == '' and item is defined ? item.name : title %}
{% set hideLegend = hideLegend is defined ? hideLegend : false %}

<div id="container" style="height: 500px; width: 100%; min-width: 450px;"></div>
<script type="text/javascript">
$(function() {
    Highcharts.setOptions({global: { useUTC: false }});

    $.getJSON('{{ url }}', function(data) {
        // Create the chart
        var chart = new Highcharts.StockChart({
            chart : {
                type: 'line',
                renderTo : 'container',
                height   : 500
            },
            exporting : {
                enabled: false
            },
            tooltip: {
                formatter: function() {
                    var pThis = this,
    				items     = pThis.points || splat(pThis),
    				series    = items[0].series,
    				s;

        			// build the header
        			s = [series.tooltipHeaderFormatter(items[0].key)];

        			// build the values
        			$.each(items, function (key, item) {
        				series = item.series;
        				s.push('<span style="color:'+ series.color +'">' + series.name + '</span>: <b>' + formatGW2Money(item.y) + '</b> <br />');
        			});

        			// footer
        			// s.push(options.footerFormat || ''); // todo how to get the options xD

        			return s.join('');
                },
                useHTML: true
            },
            legend : {
                enabled: {{ hideLegend ? 'false' : 'true' }},
                padding: 6,
                floating: false,
                verticalAlign: "top",
                width: 800,
                itemWidth: 200
            },
            rangeSelector : {
                buttons: [
                    {type: 'day',  count: 1,  text: '1d'},
                    {type: 'day',  count: 3,  text: '3d'},
                    {type: 'week', count: 1,  text: '1w'},
                    {type: 'all',             text: 'all'}
                ],
                selected : 2
            },
            yAxis : {
                labels : {
                    formatter: function() {
                        return formatGW2Money(this.value);
                    },
                    useHTML: true
                }
            },
            series : data
        });
    });
});
</script>