{% set url = url is defined ? url : path('chart', {dataId: item.dataId}) %}
{% set title = title is defined ? title : '' %}
{% set title = title == '' and item is defined ? item.name : title %}
{% set hideLegend = hideLegend is defined ? hideLegend : false %}
{% set legendWidth = legendWidth is defined ? legendWidth : 800 %}

<div id="container" style="height: 500px; width: 100%; min-width: 450px;"></div>
<script type="text/javascript">
    var chart = new GW2SpidyChart('{{ url }}', $('#container'), {
        legend : {
            enabled : {{ hideLegend ? 'false' : 'true' }},
            width : {{ legendWidth }}
        }
    });
</script>