<div id="placeholder" style="width: {% if width is defined %}width{% else %}950px{% endif %}; height: 400px;"></div>
<p>
You can zoom into the chart by drawing a selection (xaxis) and use the button below to reset. <br />
<button class="btn" id="clear-selection">Reset Zoom</button>
</p>

<script type="text/javascript">
$.ajax("{{ "/chart/" ~ item.dataId }}", {
    success: function(chartdata) {
        var chartdata   = $.parseJSON(chartdata);
        var placeholder = $("#placeholder");
        var plot;
        var options     = {
            grid: {
                hoverable: true,
            },
            tooltip:  true,
            tooltipOpts: {
                content: "%s | %x | %y.0c"
            },
            series: {
                lines:  { show: true },
                points: { show: true }
            },
            xaxis: {
                mode:            "time",
                timeformat:      "%y-%0m-%0d %H:%S",
                twelveHourClock: false
            },
            selection: { mode: "x" }
        };
        var xaxis_default = null;

        var render = function(extraoptions) {
            var extraoptions = extraoptions || {};

            plot = $.plot(placeholder, chartdata, $.extend(true, {}, options, extraoptions));
        }

        placeholder.bind("plotselected", function (event, ranges) {
            if (xaxis_default === null) {
                xaxis_default = {
                    from: plot.getAxes().xaxis.datamin,
                    to:   plot.getAxes().xaxis.datamax
                };
            }

            render({ xaxis: { min: ranges.xaxis.from, max: ranges.xaxis.to } });
        });

        render();

        $("#clear-selection").click(function () {
            plot.clearSelection();

            render({ xaxis: { min: xaxis_default.from, max: xaxis_default.to } });
        });
    }
});
</script>
