{% set url = url is defined ? url : path('chart', {dataId: item.dataId}) %}
{% set title = title is defined ? title : '' %}
{% set title = title == '' and item is defined ? item.name : title %}
{% set hideLegend = hideLegend is defined ? hideLegend : false %}

<div id="container" style="height: 500px; width: 100%; min-width: 450px;"></div>
<script type="text/javascript">
$(function() {
    $.getJSON('{{ url }}', function(data) {
        // Create the chart
        var chart = new Highcharts.StockChart({
            chart : {
                renderTo : 'container',
                height   : 500
            },
            exporting : {
                enabled: false
            },
            legend : {
                enabled: {{ hideLegend ? 'false' : 'true' }},
                padding: 6,
                floating: true,
                verticalAlign: "top"
            },
            rangeSelector : {
                buttons: [
                    {type: 'day',  count: 1,  text: '1d'},
                    {type: 'day',  count: 3,  text: '3d'},
                    {type: 'week', count: 1,  text: '1w'},
                    {type: 'all',             text: 'all'}
                ],
                selected : 1
            },
            series : data
        });
    });
});
</script>