<div id="placeholder" style="width: {% if width is defined %}width{% else %}950px{% endif %}; height: 400px;"></div>
<p>
You can zoom into the chart by dragging, double clicking or using your scrollwheel. <br />
</p>

<script type="text/javascript">
$.ajax("{{ "/chart/" ~ item.dataId }}", {
    success: function(chartdata) {
        var chartdata   = $.parseJSON(chartdata);
        var placeholder = $("#placeholder");
        var plot;
        var options     = {
            grid: {
                hoverable: true,
            },
            tooltip:  true,
            tooltipOpts: {
                content:    "%s | %x | %y.0c",
                dateFormat: "%Y-%m-%d %H:%S"
            },
            series: {
                lines:  { show: true },
                points: { show: true }
            },
            xaxis: {
                mode:            "time",
                timeformat:      "%d-%b",
                twelveHourClock: false,
                zoomRange:       null,
                panRange:        null,
                minTickSize:     [1, "day"]
            },
            yaxis: {
                zoomRange:   false,
                panRange:    false,
                minTickSize: 1
            },
            zoom: {
                interactive: true
            },
            pan: {
                interactive: true
            }
        };
        var xaxis_default = null;

        var render = function(extraoptions) {
            var extraoptions  = extraoptions || {};
            var renderoptions = {};
            var first = chartdata[0]['data'][0][0];

            renderoptions.xaxis = {};
            renderoptions.xaxis.zoomRange = [first, null];
            renderoptions.xaxis.panRange  = [first, null];

            plot = $.plot(placeholder, chartdata, $.extend(true, {}, options, renderoptions, extraoptions));

            // add zoom out button
            $('<div class="btn" style="right:37px; bottom:23px; position:absolute;">zoom out</div>').appendTo(placeholder).click(function (e) {
                e.preventDefault();
                plot.zoomOut();
            });

        }
        render();
    }
});
</script>
