{% extends "wrapper.html.twig" %}

{% block content_body %}
    <div id="content" class="span8">
        <div class="well">
            {% block content %}{% endblock %}
        </div>
    </div>
    <div class="span4 sidebar">
        <div class="well">
        {% block sidebar %}
            <div>
                <h3>Item history</h3>
                <ul class="nav nav-pills nav-stacked item-history-list">
                    {% for item in app.getItemHistory.getItems %}
                        <li class="item">
                            <a href="{{ path('item', {dataId: item.dataId}) }}">
                                <div class="image"><img src="{{ item.img }}" /></div>
                                <div class="stats">
                                    <span class="name {{ item.rarityCssClass }}">{{ item.name }}</span>
                                </div>
                            <div class="clearfix"></div>
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        {% endblock %}
        </div>
    </div>
{% endblock content_body %}