{% extends "wrapper.html.twig" %}

{% block content_body %}
    <div id="content" class="main-content span12 well">{% block content %}{% endblock %}
        <div class="footer-spacer"></div>
    </div>
{% endblock content_body %}