{% extends "wrapper.html.twig" %}

{% block content_body %}
    <div id="content" class="span8 main-content">
        <div class="well">
            {% block content %}{% endblock %}
        </div>
    </div>
    <div class="span4 sidebar">
        <div class="well">
        {% block sidebar %}
            <div id="item-history-placeholder"></div>
        {% endblock %}
        </div>
    </div>
{% endblock content_body %}