{% extends "wrapper.html.twig" %}

{% block content_body %}
    <div id="content" class="span8 main-content">
        <div class="well">
            {% block content %}{% endblock %}
        </div>
    </div>
    <div class="span4 sidebar">
        <div class="well">
        {% block sidebar %}
            <script type="text/javascript" charset="utf-8" src="http://static.polldaddy.com/p/6551443.js"></script>
            <noscript><a href="http://polldaddy.com/poll/6551443/">What feature should I add next?</a></noscript>
        {% endblock %}
        </div>
    </div>
{% endblock content_body %}