{% extends "content_wide.html.twig" %}

{% block content %}
<h1>FAQ</h1>
<h3>Do I need to login to use this website?</h3>
<p><strong>You do <em>NOT</em> need to login to use this website!</strong> <br />
I'm using my own game account to gather the information and this website is only showing you what I've gathered over time.
</p>

<h3>How does it work?</h3>
<p>ArenaNet has build the Trade Market so that it's loaded into the game from a website. <br />
You can also access this website with a browser and use your game account to login and view all the items and listings. <br />
<br />
Now what I've build is some tools which will run constantly to automatically login to that website and record all data we can find, <br />
as a result I can record the sale listings for all the items about every hour and with that data I can create graphs with the price changing over time!
</p>

<h3>Can I somehow get access to your data(base)?</h3>
<p>I've created a public API for which you can find the documentation on the <a href="https://github.com/rubensayshi/gw2spidy/wiki">github wiki</a>.</p>

<h1>Privacy Policy</h1>

<p>We respect your privacy.
We won’t use your E-mail id and name other than for login purposes.</p>

<p>We won’t share your personal data e.g. E-mail id, Contact Number with any third party.</p>

<p>We display some paid advertisement on the website, which may lead you to some external website.
We are not responsible for the content of the external website.</p>

<p>Google, one of our third-party advertisers, may add a cookie to determine targeted advertisements based on your preferences and your visit to our site and other sites on the internet.
You can choose to opt out of Google’s use of cookies by visiting the Google ad and content network privacy policy.</p>
{% endblock %}
