{% set included = included is defined ? included : false %}
{% set hideLegend = hideLegend is defined ? hideLegend : false %}

{% extends not included ? "content_sidebar.html.twig" : "empty_shell.html.twig" %}

{% block content %}
{% include "item_snippet.html.twig" with {'item': item, 'tag': 'div'} %}
<div class="clearfix">&nbsp;</div>
{% include "chart_placeholder.html.twig" with {'item': item, 'hideLegend': hideLegend} %}

<script type="text/javascript">
{% set historySnippet %}
{% spaceless %}
    {% include "item_snippet.html.twig" with {'item': item, 'tag': 'li', 'href': path('item', {dataId: item.dataId})} %}
{% endspaceless %}
{% endset %}
    window.GW2SpidyItemHistory.addItem({{ item.dataId }}, '{{- historySnippet | e('js') -}}');
</script>
{% endblock %}