<div id="flash-message-wrapper" class="row-fluid content-row" style="display: none;">
    <div class="well">
        <h3 style="border-bottom: 1px solid #ccc; margin-bottom: 5px;">Notices</h3>
        <div id="flash-message-container"></div>
    </div>
</div>
<div id="flash-message-library" style="display: none;">
    <div id="flash-flashes" class="alert alert-warning">
        <button type="button" class="close" data-dismiss="alert">×</button>
        <strong>FLASH MESSAGES!</strong> <br />
        The messages you get to see here will keep showing up until you click the little × on the right side ;)
    </div>
    <div id="flash-new-server" class="alert alert-success">
        <button type="button" class="close" data-dismiss="alert">×</button>
        <strong>Running on a new server!</strong><br />
        Because of issues with the old server (disk failure) I've setup a new server, so no more downtime I hope!
    </div>
</div>