<div id="flash-message-wrapper" class="row-fluid content-row" style="display: none;">
    <div class="well">
        <h3 style="border-bottom: 1px solid #ccc; margin-bottom: 5px;">Notices</h3>
        <div id="flash-message-container"></div>
    </div>
</div>
<div id="flash-message-library" style="display: none;">
    <div id="flash-flashes" class="alert alert-warning">
        <button type="button" class="close" data-dismiss="alert">×</button>
        <strong>FLASH MESSAGES!</strong> <br />
        The messages you get to see here will keep showing up until you click the little × on the right side ;)
    </div>
    <div id="flash-foldor" class="alert alert-success">
        <button type="button" class="close" data-dismiss="alert">×</button>
        <strong>New tooltips and updated item database!!</strong><br />
        Thanks to <i>Foldor</i> we can now import item data from the official GW2 API (so we no longer rely on gw2db) and we're now generating tooltips ourselves &lt;3
    </div>
</div>