<div id="flash-message-wrapper" class="row-fluid content-row" style="display: none;">
    <div class="well">
        <h3 style="border-bottom: 1px solid #ccc; margin-bottom: 5px;">Notices</h3>
        <div id="flash-message-container"></div>
    </div>
</div>
<div id="flash-message-library" style="display: none;">
    <div id="flash-flashes" class="alert alert-warning">
        <button type="button" class="close" data-dismiss="alert">×</button>
        <strong>FLASH MESSAGES!</strong> <br />
        The messages you get to see here will keep showing up until you click the little × on the right side ;)
    </div>
    <div id="flash-crafting1" class="alert alert-success">
        <button type="button" class="close" data-dismiss="alert">×</button>
        <strong>Crafting features v0.1 added!</strong> <br />
        With special thanks to <a href="http://www.gw2db.com">www.gw2db.com</a> for their tooltips and recipe data you can now enjoy the first version of the crafting tools added to GW2Spidy! <br />
        There's a lot of work to be done still, but getting this initial version out opens up room for feedback and collaboration to improve the features. <br />
        <br />
        The only main issue curently is the fact that I'm using TP prices for vendor sold items, which are slightly above the vendor price - I hope to have a solution for this soon!<br />
        <br />
        There are also 2 other new features that sneaked in and I really think they improve our quality of life / use of GW2Spidy! <br />
        - Thanks to <i>TehGear / Zicore</i> we now have all prices displayed with pwetty icons, a joy to the eye :-) <br />
        - And thanks to a tip from <i>Sigi</i> I was able to add the option to copy and paste items ingame! <br />
        <br />
        While we're at it, I'd really like to thank everyone who has provided me with feedback and compliments! <br />
        Specially the people sticking around the IRC channel make this project very enjoyable to work on ;-)
    </div>
    <div id="flash-volume" class="alert alert-success">
        <button type="button" class="close" data-dismiss="alert">×</button>
        <strong>Volume and a NEW homepage!</strong> <br />
		NEW homepage to improve the stickyness for new visitors a bit! <br />
		Also to facilitate the trending block on the homepage I'm now recording price change in last hour, will add a page for more then the top 3 later ;)! <br />
		<br />
		I've also added volume to the charts, enjoy!
    </div>
</div>