<div id="flash-message-wrapper" class="row-fluid content-row" style="display: none;">
    <div class="well">
        <h3 style="border-bottom: 1px solid #ccc; margin-bottom: 5px;">Notices</h3>
        <div id="flash-message-container"></div>
    </div>
</div>
<div id="flash-message-library" style="display: none;">
    <div id="flash-new-server" class="alert alert-warning">
        <button type="button" class="close" data-dismiss="alert">×</button>
        <strong>New server!!</strong><br />
        Thanks to many people telling me how sad they were when I said I might have to shutdown the project due to server issues, <br />
        I tried porting the system to a new server and it seems it's working!<br />
        <br />
        No guarantees yet that it won't crash and burn, but the upgrade to a new server with SSDs instead of some old HDD might actually help a lot! <br />
        <br />
        If you notice anything that is working incorrectly, let me know on <a href="https://www.twitter.com/gw2spidy">twitter</a>!
    </div>
</div>