<div id="flash-message-wrapper" class="row-fluid content-row" style="display: none;">
    <div class="well">
        <h3 style="border-bottom: 1px solid #ccc; margin-bottom: 5px;">Notices</h3>
        <div id="flash-message-container"></div>
    </div>
</div>
<div id="flash-message-library" style="display: none;">
    <div id="flash-flashes" class="alert alert-warning">
        <button type="button" class="close" data-dismiss="alert">×</button>
        <strong>FLASH MESSAGES!</strong> <br />
        The messages you get to see here will keep showing up until you click the little × on the right side ;)
    </div>
    <div id="flash-watchlist" class="alert alert-success">
        <button type="button" class="close" data-dismiss="alert">×</button>
        <strong>WATCHLIST!</strong><br />
        Thanks to <i>TehGear</i> for setting up the base and myself for implementing the (social) login. <br />
		So right now you're looking at the first version containing the <b>watchlist / favorites</b>! <br />
		You can now login (using facebook/twitter/google if you like) and mark items as favorites so they end up on your watchlist! <br />
		Based on this I can continue with features such as notifications etc. when prices go up / down!
    </div>
</div>