{% extends "content_sidebar.html.twig" %}

{% block content %}

<script type="text/javascript" src="{{ versioned_asset('/assets/js/crafting.js') }}"></script>

<style>
    .recipe-wrapper {}

    .recipe-row {
    }

    .recipe-row label {
        display: inline-block;
    }

    .recipe-row .item-row-wrapper {
        float: left;
        position: relative;
    }
    .recipe-row .item-row {
        border: 1px solid black;
        -webkit-border-radius: 3px;
           -moz-border-radius: 3px;
                border-radius: 3px;

        margin-bottom: 5px;
        padding: 4px;
        height: 24px;
        width: 580px;
    }

    .recipe-row .item {
        float: left;
        height: 24px;
        width: 270px;
        overflow: hidden;
        font-weight: bold;
    }

    .recipe-row .options {
        float: right;
        height: 24px;
    }

    .recipe-row .options > span {
        display: inline-block;
        padding: 3px 10px 2px;
        width: 130px;
        height: 19px;
        margin-left: 3px;
    }

    .recipe-row .options span label {
        font-weight: bold;
    }
    .recipe-row .options span input {
        position: relative;
        top: -2px;
    }

    .recipe-row .children {
        padding-left: 25px;
    }

    .label-wide {
        width: 264px !important;
    }
    .label-not-crafted {
        opacity: 0.3;
    }

    .children-disabled .item-row {
        opacity: 0.5;
        background-color: gray;
    }

    .folder-structure-icon {
        width: 25px;
        height: 39px;
        float: left;
        position: relative;
        top: -5px;

        overflow: hidden;
        font-size: 52px;
    }

    .folder-structure-icon-cont {
        padding-left: 5px;
        width: 20px;
    }

    .crafting-summary-table .num {
        min-width: 20px;
        width: 10%;
    }
    .crafting-summary-table .ingredient {
        min-width: 150px;
        width: 55%;
    }
    .crafting-summary-table .ea {
        min-width: 75px;
        width: 15%;
    }
    .crafting-summary-table .total {
        min-width: 75px;
        width: 20%;
    }

</style>

<div style="position: absolute; top: 20px; right: 20px;">
    <a href="#help" title="How does it work?"><i class="icon-question-sign"></i></a>
</div>

<h1>{{ recipe.name }}</h1>
<div id="recipe_container" class="well recipe-wrapper clearfix">
</div>
<div id="recipe_summary_container">
    <h2 style="border-bottom: 1px solid black;">Summary</h2>
    <div class="well clearfix">
        <table class="crafting-summary-table table table-striped table-condensed">
        	<thead>
        		<tr>
        			<th class="num">#</th>
        			<th class="ingredient">Ingredient</th>
        			<th class="ea">ea</th>
        			<th class="total">total</th>
        		</tr>
        	</thead>
        	<tbody id="recipe_summary">

        	</tbody>
        	<tfoot>
        		<tr style="border-top: 2px solid black;">
        			<td colspan="3"></td>
        			<td id="recipe_summary_total"></td>
        		</tr>
        	</tfoot>
        </table>
    </div>
</div>

<div class="well">
    <a name="help"></a>
    <h3>How does it work?</h3>
    <p>Select which parts of the recipe you want to buy and which you want to craft, we marked the best choices for you by default ;-) <br />
        The resulting shopping list and cost / profit is displayed in the summary!
    </p>
</div>

<div class="well">
    <h3>Legend</h3>
    <table class="table">
        <tr>
            <td>
                <span class="label label-success">BUY</span> <span class="label label-important">CRAFT</span>
            </td>
            <td>more profitable to buy from TP, you can still choose to craft it of course!</td>
        </tr>
        <tr>
            <td>
                <span class="label label-important">BUY</span> <span class="label label-success">CRAFT</span>
            </td>
            <td>more profitable to craft, you can still choose to buy it of course!</td>
        </tr>
        <tr>
            <td>
                <span class="label label-inverse label-not-crafted">NOT SOLD</span> <span class="label label-success">CRAFT</span>
            </td>
            <td>we don't have a sell price for this item so your only option is to craft it</td>
        </tr>
        <tr>
            <td>
                <span class="label label-success">BUY</span> <span class="label label-inverse label-not-crafted">NOT CRAFTED</span>
            </td>
            <td>we don't have a recipe for this item so your only option is to buy it</td>
        </tr>
        <tr>
            <td>
                <span class="label label-wide label-warning">NOT CRAFTED, NOT SOLD</span>
            </td>
            <td>we don't have a recipe and we don't have a sell price for this item!</td>
        </tr>
    </table>
</div>


<script type="text/javascript">
    $(document).ready(function() {
		var item = {{ tree | raw }};

		if ($(window).width() > 1400) {
			$("#recipe_summary_container").appendTo($("#recipe_summary_sidebar"));
		}

        new Crafting($("#recipe_container"), $("#recipe_summary"), $("#recipe_summary_total"), item);
    });
</script>

{% endblock %}

{% block sidebar %}
    {{ recipe.GW2DBTooltip | raw }}
	<div id="recipe_summary_sidebar"></div>
{% endblock %}