{% extends "content_sidebar.html.twig" %}

{% block content %}

<script type="text/javascript" src="{{ versioned_asset('/assets/js/crafting.js') }}"></script>

<style>
    .recipe-wrapper {}

    .recipe-row {
    }

    .recipe-row label {
        display: inline-block;
    }

    .recipe-row .item-row {
        border: 1px solid black;
        -webkit-border-radius: 3px;
           -moz-border-radius: 3px;
                border-radius: 3px;

        margin-bottom: 5px;
        padding: 4px;
        height: 24px;
        width: 580px;
        float: left;

        position: relative;
    }

    .recipe-row .item {
        float: left;
        height: 24px;
        width: 270px;
        overflow: hidden;
        font-weight: bold;
    }

    .recipe-row .options {
        float: right;
        height: 24px;
    }

    .recipe-row .options > span {
        display: inline-block;
        padding: 3px 10px 2px;
        width: 130px;
        height: 19px;
        margin-left: 3px;
    }

    .recipe-row .options span label {
        font-weight: bold;
    }
    .recipe-row .options span input {
        position: relative;
        top: -2px;
    }

    .recipe-row .children {
        padding-left: 25px;
    }

    .label-not-craftable {
        width: 264px !important;
        opacity: 0.8;
    }

    .children-disabled > * {
        opacity: 0.5;
    }

    .children-disabled .item-row {
        background-color: gray;
    }

    .folder-structure-icon {
        width: 25px;
        height: 39px;
        float: left;
        position: relative;
        top: -10px;

        overflow: hidden;
        font-size: 52px;
    }

    .folder-structure-icon-cont {
        padding-left: 5px;
        width: 20px;
    }

</style>

<h1>Crafting "{{ recipe.name }}"</h1>
<div id="recipe_container" class="well recipe-wrapper clearfix"></div>
<div id="recipe_summary_container">
    <h2 style="border-bottom: 1px solid black;">Summary</h2>
    <div class="well clearfix">
        <table class="table table-striped table-condensed">
        	<thead>
        		<tr>
        			<th>#</th>
        			<th>Ingredient</th>
        			<th>ea</th>
        			<th>total</th>
        		</tr>
        	</thead>
        	<tbody id="recipe_summary">

        	</tbody>
        	<tfoot>
        		<tr style="border-top: 2px solid black;">
        			<td colspan="3"></td>
        			<td id="recipe_summary_total"></td>
        		</tr>
        	</tfoot>
        </table>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function() {
		var item = {{ tree | raw }};

		if ($(window).width() > 1400) {
			$("#recipe_summary_container").appendTo($("#recipe_summary_sidebar"));
		}

        new Crafting($("#recipe_container"), $("#recipe_summary"), $("#recipe_summary_total"), item);
    });
</script>

{% endblock %}

{% block sidebar %}
	<div id="recipe_summary_sidebar"></div>
{% endblock %}