{% extends "content_sidebar.html.twig" %}

{% block content %}

<script type="text/javascript" src="{{ versioned_asset('/assets/js/crafting.js') }}"></script>

<style>
    .recipe-wrapper {}

    .recipe-row {
    }

    .recipe-row label {
        display: inline-block;
    }

    .recipe-row .item-row {
        border: 1px solid black;
        -webkit-border-radius: 3px;
           -moz-border-radius: 3px;
                border-radius: 3px;

        margin-bottom: 5px;
        padding: 1px;
        height: 24px;
        width: 490px;
        float: left;
    }

    .recipe-row .item {
        float: left;
        height: 24px;
        width: 200px;
        font-weight: bold;
    }

    .recipe-row .options {
        float: right;
        height: 24px;
    }

    .recipe-row .options > span {
        display: inline-block;
        padding: 3px 10px 2px;
        width: 120px;
        height: 19px;
        margin-left: 3px;
    }

    .recipe-row .options span label {
        font-weight: bold;
    }
    .recipe-row .options span input {
        position: relative;
        top: -1px;
    }

    .recipe-row .children {
        padding-left: 40px;
    }

    .label-not-craftable {
        width: 264px !important;
        opacity: 0.5;
    }

    .children-disabled {
        opacity: 0.5;
    }
</style>

<h1>Design Prototype</h1>
<div class="well recipe-wrapper clearfix">
    <div class="recipe-row">
    	<div class="item-row clearfix">
        	<div class="item">
        		<img width="24" src="https://dfach8bufmqqv.cloudfront.net/gw2/img/content/675da461.png" /> 1x <a href="" class="rarity-rare">Gun</a>
        	</div>
        	<div class="options">
        		<span class="label label-important"><input type="radio" /> BUY ( {{ 237436 | gw2money }} )</span>
        		<span class="label label-success"><input type="radio" checked="true" /> CRAFT ( {{ 3266  | gw2money }} )</span>
        	</div>
    	</div>
    	<div class="children">
    		<div class="recipe-row">
            	<div class="item-row clearfix"><div class="item">
            		<img width="24" src="https://dfach8bufmqqv.cloudfront.net/gw2/img/content/675da461.png" /> 1x <a href="" class="rarity-exotic">Inscription</a>
            	</div>
            	<div class="options">
            		<span class="label label-important"><input type="radio" /> BUY ( {{ 700 | gw2money }} )</span>
            		<span class="label label-success"><input type="radio" checked="true" /> CRAFT ( {{ 665 | gw2money }} )</span>
            	</div>
            	</div><div class="children">
            		<div class="recipe-row">
                    	<div class="item-row clearfix"><div class="item">
                    		<img width="24" src="https://dfach8bufmqqv.cloudfront.net/gw2/img/content/675da461.png" /> 1x <a href="" class="rarity-fine">Dowel</a>
                    	</div>
                    	<div class="options">
                    		<span class="label label-success"><input type="radio" checked="true" /> BUY ( {{ 234 | gw2money }} )</span>
                    		<span class="label label-important"><input type="radio" /> CRAFT {{ 123 | gw2money }} )</span>
                    	</div>
                        </div><div class="children children-disabled">
                            <div class="recipe-row">
                                <div class="item-row clearfix">
                                    <div class="item">
                                        <img width="24" src="https://dfach8bufmqqv.cloudfront.net/gw2/img/content/675da461.png" /> 2x <a href="" class="rarity-common">Plank</a>
                                    </div>
                                    <div class="options">
                                        <span class="label label-important"><input type="radio" /> BUY ( {{ 12 | gw2money }} )</span>
                                        <span class="label label-success"><input type="radio" checked="true" /> CRAFT ( {{ 14 | gw2money }} )</span>
                                    </div>
                                </div>
                                <div class="children">
                                    <div class="recipe-row">
                                        <div class="item-row clearfix">
                                            <div class="item">
                                                <img width="24" src="https://dfach8bufmqqv.cloudfront.net/gw2/img/content/675da461.png" /> 6x <a href="" class="rarity-common">Log</a>
                                            </div>
                                            <div class="options">
                                                <span class="label label-inverse label-not-craftable"><input type="radio" checked="true" disabled="true" /> NOT CRAFTABLE ( {{ 19 | gw2money }} ) </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
            		</div>
            		<div class="recipe-row">
                    	<div class="item-row clearfix"><div class="item">
                    		<img width="24" src="https://dfach8bufmqqv.cloudfront.net/gw2/img/content/675da461.png" /> 3x <a href="" class="rarity-masterwork">Claw</a>
                    	</div>
                    	<div class="options">
                            <span class="label label-inverse label-not-craftable"><input type="radio" checked="true" disabled="true" /> NOT CRAFTABLE ( {{ 24 | gw2money }} ) </span>
                    	</div>
                        </div>
            		</div>
            	</div>
        	</div>
            <div class="recipe-row">
                <div class="item-row clearfix"><div class="item">
                    <img width="24" src="https://dfach8bufmqqv.cloudfront.net/gw2/img/content/675da461.png" /> 2x <a href="" class="rarity-common">Plank</a>
                </div>
                <div class="options">
                    <span class="label label-important"><input type="radio" /> BUY ( {{ 12 | gw2money }} )</span>
                    <span class="label label-success"><input type="radio" checked="true" /> CRAFT ( {{ 14 | gw2money }} )</span>
                </div>
                </div><div class="children">
                    <div class="recipe-row">
                        <div class="item-row clearfix"><div class="item">
                            <img width="24" src="https://dfach8bufmqqv.cloudfront.net/gw2/img/content/675da461.png" /> 6x <a href="" class="rarity-common">Log</a>
                        </div>
                        <div class="options">
                            <span class="label label-inverse label-not-craftable"><input type="radio" checked="true" disabled="true" /> NOT CRAFTABLE ( {{ 19 | gw2money }} ) </span>
                        </div>
                        </div>
                    </div>
                </div>
            </div>
    	</div>
    </div>
</div>
<p>&nbsp;</p>

<h1>Functional Prototype</h1>
<div id="recipe_container" class="well recipe-wrapper clearfix"></div>

{% endblock %}