{% extends "content_wide.html.twig" %}

{% block content %}
<h1>Password Reset</h1>

<form class="form" action="{{ path('reset_password_post', {reset: reset}) }}" method="POST">
    {% if error %}
        <div class="alert alert-danger">{{ error | nl2br }}</div>
    {% endif %}

    <div class="control-group">
        <label class="control-label" for="registerPassword">Password</label>
        <div class="controls">
            <input type="password" id="registerPassword" name="password" value="" required="true" pattern="[^\s]{5,}" title="5 characters minimum, no spaces" />
        </div>
    </div>
    <div class="control-group">
        <label class="control-label" for="registerPasswordAgain">Password Again</label>
        <div class="controls">
            <input type="password" id="registerPasswordAgain" name="password2" value="" required="true" pattern="[^\s]{5,}" title="5 characters minimum, no spaces" />
        </div>
    </div>
    <div class="control-group">
        <div class="controls">
            <button type="submit" class="btn btn-primary">Change Password</button>
        </div>
    </div>
</form>
{% endblock %}
