{% extends "content_wide.html.twig" %}

{% block htmltitle %}{{ parent() }} | Search{% endblock %}

{% block content %}
<h3>Search</h3>
<form class="form-search" action="{{ path('searchpost') }}" method="POST">
    <input type="text" name="search" class="search-query" placeholder="Search"> <input type="submit" class="btn btn-primary" value="GO" />
</form>
{% endblock %}