{% extends "content_sidebar.html.twig" %}

{% block content %}
<h3>Search</h3>
<p>Sorry, the search feature isn't implemented <em>yet</em>! <br />
Use the <a href="/types">list of categories</a> to browse for now ;)</p>
{% endblock %}