{% extends "content_wide.html.twig" %}

{% block content %}
{% for type in types %}
    {% if type.title %}
    <div class="well">
        <a href="{{ path('type', {type: type.id}) }}"><h4>{{ type.title }}</h4></a>
        <ul class="nav nav-pills nav-stacked">
            {% for subtype in type.subtypes %}
                {% if subtype.title %}
                <li>
                    <a href="{{ path('type', {type: type.id, subtype: subtype.id}) }}">{{ subtype.title }}</a>
                </li>
                {% endif %}
            {% endfor %}
        </ul>
    </div>
    {% endif %}
{% endfor %}

{% endblock %}